!!! 5
%html{lang: I18n.locale}
  %head
  %title Instapop
  = csrf_meta_tags
  = stylesheet_link_tag "application", :media => "all"

  %body
    %header
      %nav.navbar
        .navbar-inner
          .container
            %a.brand{:href => '/'}< InstaPop
            %ul.nav
              %li
                %span.separator
              %li
                %a{:href => "#"}< Paramètres
              %li
                =link_to 'login',  instagram_sign_in_link

    .container
      = yield

  = javascript_include_tag "application"
  = yield :javascript
